html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}
.backgroundLogin{
  background: linear-gradient(to bottom, #80CBC4 , #9FA8DA);
}
.appBar{
    background: linear-gradient(to bottom, #80CBC4 , #80CBC4) ;
}
.tabBar {
  background: linear-gradient(to bottom, #DDB110 , #DDB110) ;
}
