html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}
.backgroundLogin{
  background: linear-gradient(to bottom, #EB5757 , #000000);
}
.appBar{
  background: linear-gradient(to bottom, #202020, #202020) ;
}
.tabBar {
  background: linear-gradient(to bottom, #DDB110 , #DDB110) ;
}
